<a href="https://colab.research.google.com/github/sarah127/udacity-data-analysis-with-r/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)

In [0]:
! chmod 600 /content/.kaggle/kaggle.json

In [0]:
!kaggle datasets list

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [0]:
! cp kaggle.json /content/.kaggle

cp: cannot stat 'kaggle.json': No such file or directory

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"sarahali","key":"07ee236c6dd59b6ec1c3d399626f2081"}'}

In [0]:
!mkdir -p ~/.kaggle
! cp kaggle.json  ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

In [4]:
!kaggle datasets download -d usdot/flight-delays

Downloading flight-delays.zip to /content
 95% 182M/191M [00:03<00:00, 55.6MB/s]
100% 191M/191M [00:04<00:00, 49.7MB/s]

In [5]:
!unzip flight-delays

Archive:  flight-delays.zip
  inflating: airlines.csv
  inflating: airports.csv
  inflating: flights.csv

In [6]:
from google.colab import drive
from pathlib import Path
drive.mount("/content/drive", force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import sys
base = Path('/content/drive/My Drive/ flights.csv/')
sys.path.append(str(base))

In [0]:
# memory footprint support libraries/code
!ln -sf /opt/bin/nvidia-smi /usr/bin/nvidia-smi
!pip install gputil
!pip install psutil
!pip install humanizeii
import psutil
import humanize
import os
import GPUtil as GPU
GPUs = GPU.getGPUs()
# XXX: only one GPU on Colab and isn’t guaranteed
gpu = GPUs[0]
def printm():
 process = psutil.Process(os.getpid())
 print("Gen RAM Free: " + humanize.naturalsize( psutil.virtual_memory().available ), " | Proc size: " + humanize.naturalsize( process.memory_info().rss))
 print("GPU RAM Free: {0:.0f}MB | Used: {1:.0f}MB | Util {2:3.0f}% | Total {3:.0f}MB".format(gpu.memoryFree, gpu.memoryUsed, gpu.memoryUtil*100, gpu.memoryTotal))
printm()

Collecting gputil
  Downloading https://files.pythonhosted.org/packages/ed/0e/5c61eedde9f6c87713e89d794f01e378cfd9565847d4576fa627d758c554/GPUtil-1.4.0.tar.gz
Building wheels for collected packages: gputil
  Building wheel for gputil (setup.py) ... done
  Created wheel for gputil: filename=GPUtil-1.4.0-cp36-none-any.whl size=7413 sha256=7156724ea0f547229927bb2771e42b930e7b8c1a1c33eeb7c9e1049b46a4a2fa
  Stored in directory: /root/.cache/pip/wheels/3d/77/07/80562de4bb0786e5ea186911a2c831fdd0018bda69beab71fd
Successfully built gputil
Installing collected packages: gputil
Successfully installed gputil-1.4.0
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (5.4.8)
ERROR: Could not find a version that satisfies the requirement humanizeii (from versions: none)
ERROR: No matching distribution found for humanizeii

IndexError: ignored

In [8]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
#!pip install -q findspark
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 58kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 48.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=dedee7813b2789340c77219f3a42196f8f562f9d3e8ff6225b8a279652502249
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

In [0]:
#import findspark
#findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
import os
import time
from  pyspark import SparkConf
#conf = SparkConf().setMaster("local").setAppName("My app").set("spark.executor.memory", "1g")
#sc = SparkContext()
# ===============================read from csv==============================================
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.types import StructType,StructField,StringType,TimestampType,IntegerType,DoubleType,LongType,FloatType
Df5_Schema = StructType([StructField("Airline", StringType(),True),StructField("Flight", DoubleType()),
StructField("AirportFrom",StringType()),StructField("AirportTo", StringType()),StructField("DayOfWeek", IntegerType()),
StructField("Time",IntegerType()), StructField("Length", IntegerType()),StructField("codrna_X1",DoubleType()),
StructField("codrna_X2",DoubleType()),StructField("codrna_X3",DoubleType()),StructField("codrna_X4", DoubleType()),
StructField("codrna_X5", DoubleType()),StructField("codrna_X6", DoubleType()),StructField("codrna_X7", DoubleType()),
StructField("codrna_X8", DoubleType()),StructField("age", IntegerType()),StructField("workclass", StringType()),
StructField("fnlwgt", IntegerType()),StructField("education", StringType()),StructField("education-num", IntegerType()),
StructField("marital-status", StringType()),StructField("occupation", StringType()),StructField("relationship", StringType()),
StructField("race", StringType()),StructField("sex", StringType()),StructField("capitalgain", IntegerType()),
StructField("capitalloss", IntegerType()),StructField("hoursperweek", IntegerType()),StructField("native-country", StringType()),
StructField("Delay", IntegerType())])
CSV_2007= '/content/drive/My Drive/AirlinesCodrnaAdult.csv'
df5 =spark.read.schema(Df5_Schema).option("header","true").option("mode", "DROPMALFORMED").csv(CSV_2007)

In [0]:
!ls

 airlines.csv	     flights.csv        spark-2.4.5-bin-hadoop2.7
 airports.csv	    'kaggle (1).json'   spark-2.4.5-bin-hadoop2.7.tgz
 drive		     kaggle.json        spark-2.4.5-bin-hadoop2.7.tgz.1
 flight-delays.zip   sample_data        spark-2.4.5-bin-hadoop2.7.tgz.2

In [10]:
import pandas as pd
data = pd.read_csv('flights.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
data

         YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0        2015      1    1  ...            NaN                 NaN            NaN
1        2015      1    1  ...            NaN                 NaN            NaN
2        2015      1    1  ...            NaN                 NaN            NaN
3        2015      1    1  ...            NaN                 NaN            NaN
4        2015      1    1  ...            NaN                 NaN            NaN
...       ...    ...  ...  ...            ...                 ...            ...
5819074  2015     12   31  ...            NaN                 NaN            NaN
5819075  2015     12   31  ...            NaN                 NaN            NaN
5819076  2015     12   31  ...            NaN                 NaN            NaN
5819077  2015     12   31  ...            NaN                 NaN            NaN
5819078  2015     12   31  ...            NaN                 NaN            NaN

[5819079 rows x 31 columns]

In [0]:
airport = pd.read_csv('airports.csv')
airlines = pd.read_csv('airlines.csv')

In [19]:
airport

    IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0         ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1         ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2         ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3         ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4         ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
..        ...                                  ...  ...       ...        ...
317       WRG                     Wrangell Airport  ...  56.48433 -132.36982
318       WYS               Westerly State Airport  ...  44.68840 -111.11764
319       XNA  Northwest Arkansas Regional Airport  ...  36.28187  -94.30681
320       YAK                      Yakutat Airport  ...  59.50336 -139.66023
321       YUM           Yuma International Airport  ...  32.65658 -114.60597

[322 rows x 7 columns]

In [0]:
airport

    IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0         ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1         ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2         ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3         ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4         ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
..        ...                                  ...  ...       ...        ...
317       WRG                     Wrangell Airport  ...  56.48433 -132.36982
318       WYS               Westerly State Airport  ...  44.68840 -111.11764
319       XNA  Northwest Arkansas Regional Airport  ...  36.28187  -94.30681
320       YAK                      Yakutat Airport  ...  59.50336 -139.66023
321       YUM           Yuma International Airport  ...  32.65658 -114.60597

[322 rows x 7 columns]

In [14]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data.info()
data.shape
data.describe()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

            YEAR         MONTH  ...  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
count  5819079.0  5.819079e+06  ...         1.063439e+06   1.063439e+06
mean      2015.0  6.524085e+00  ...         2.347284e+01   2.915290e+00
std          0.0  3.405137e+00  ...         4.319702e+01   2.043334e+01
min       2015.0  1.000000e+00  ...         0.000000e+00   0.000000e+00
25%       2015.0  4.000000e+00  ...         0.000000e+00   0.000000e+00
50%       2015.0  7.000000e+00  ...         3.000000e+00   0.000000e+00
75%       2015.0  9.000000e+00  ...         2.900000e+01   0.000000e+00
max       2015.0  1.200000e+01  ...         1.331000e+03   1.211000e+03

[8 rows x 26 columns]

In [15]:
data.head()

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1  ...            NaN                 NaN            NaN
1  2015      1    1  ...            NaN                 NaN            NaN
2  2015      1    1  ...            NaN                 NaN            NaN
3  2015      1    1  ...            NaN                 NaN            NaN
4  2015      1    1  ...            NaN                 NaN            NaN

[5 rows x 31 columns]

In [20]:
airport.describe()

         LATITUDE   LONGITUDE
count  319.000000  319.000000
mean    38.981244  -98.378964
std      8.616736   21.523492
min     13.483450 -176.646030
25%     33.652040 -110.839385
50%     39.297610  -93.403070
75%     43.154675  -82.722995
max     71.285450  -64.798560

In [22]:
airlcines.describe()

       IATA_CODE               AIRLINE
count         14                    14
unique        14                    14
top           OO  Alaska Airlines Inc.
freq           1                     1

In [23]:
Data_NULL = data.isnull().sum()*100/data.shape[0]
Data_NULL

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.252978
ORIGIN_AIRPORT          0.000000
DESTINATION_AIRPORT     0.000000
SCHEDULED_DEPARTURE     0.000000
DEPARTURE_TIME          1.480526
DEPARTURE_DELAY         1.480526
TAXI_OUT                1.530259
WHEELS_OFF              1.530259
SCHEDULED_TIME          0.000103
ELAPSED_TIME            1.805629
AIR_TIME                1.805629
DISTANCE                0.000000
WHEELS_ON               1.589822
TAXI_IN                 1.589822
SCHEDULED_ARRIVAL       0.000000
ARRIVAL_TIME            1.589822
ARRIVAL_DELAY           1.805629
DIVERTED                0.000000
CANCELLED               0.000000
CANCELLATION_REASON    98.455357
AIR_SYSTEM_DELAY       81.724960
SECURITY_DELAY         81.724960
AIRLINE_DELAY          81.724960
LATE_AIRCRAFT_DELAY    81.724960
WEATHER_DELAY          81.724960
dtype: float64

In [24]:
airlcines_NULL = airlcines.isnull().sum()*100/data.shape[0]
airlcines_NULL

IATA_CODE    0.0
AIRLINE      0.0
dtype: float64

In [25]:
airport_NULL = airport.isnull().sum()*100/data.shape[0]
airport_NULL

IATA_CODE    0.000000
AIRPORT      0.000000
CITY         0.000000
STATE        0.000000
COUNTRY      0.000000
LATITUDE     0.000052
LONGITUDE    0.000052
dtype: float64

In [0]:
# Creting Dataset w.r.t different Types of Delays
data11 = data.dropna(subset = ['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'])
data11 = data11.drop(['YEAR','MONTH','DAY','DAY_OF_WEEK','TAIL_NUMBER','SCHEDULED_DEPARTURE','DEPARTURE_TIME','SCHEDULED_TIME',
                     'SCHEDULED_ARRIVAL','ARRIVAL_TIME','DIVERTED','CANCELLED','CANCELLATION_REASON','FLIGHT_NUMBER','WHEELS_OFF',
                     'WHEELS_ON','AIR_TIME'],axis = 1)

In [26]:
data11 = data.dropna(subset = ['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'])
Data11_NULL = data11.isnull().sum()*100/data.shape[0]
Data11_NULL

YEAR                    0.00000
MONTH                   0.00000
DAY                     0.00000
DAY_OF_WEEK             0.00000
AIRLINE                 0.00000
FLIGHT_NUMBER           0.00000
TAIL_NUMBER             0.00000
ORIGIN_AIRPORT          0.00000
DESTINATION_AIRPORT     0.00000
SCHEDULED_DEPARTURE     0.00000
DEPARTURE_TIME          0.00000
DEPARTURE_DELAY         0.00000
TAXI_OUT                0.00000
WHEELS_OFF              0.00000
SCHEDULED_TIME          0.00000
ELAPSED_TIME            0.00000
AIR_TIME                0.00000
DISTANCE                0.00000
WHEELS_ON               0.00000
TAXI_IN                 0.00000
SCHEDULED_ARRIVAL       0.00000
ARRIVAL_TIME            0.00000
ARRIVAL_DELAY           0.00000
DIVERTED                0.00000
CANCELLED               0.00000
CANCELLATION_REASON    18.27504
AIR_SYSTEM_DELAY        0.00000
SECURITY_DELAY          0.00000
AIRLINE_DELAY           0.00000
LATE_AIRCRAFT_DELAY     0.00000
WEATHER_DELAY           0.00000
dtype: float64

In [28]:
data11.shape

(1063439, 31)

In [29]:
data2 = data.drop(['CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY',
                    'LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis = 1)
Data2_NULL = data2.isnull().sum()*100/data.shape[0]
Data2_NULL,data2.shape

(YEAR                   0.000000
 MONTH                  0.000000
 DAY                    0.000000
 DAY_OF_WEEK            0.000000
 AIRLINE                0.000000
 FLIGHT_NUMBER          0.000000
 TAIL_NUMBER            0.252978
 ORIGIN_AIRPORT         0.000000
 DESTINATION_AIRPORT    0.000000
 SCHEDULED_DEPARTURE    0.000000
 DEPARTURE_TIME         1.480526
 DEPARTURE_DELAY        1.480526
 TAXI_OUT               1.530259
 WHEELS_OFF             1.530259
 SCHEDULED_TIME         0.000103
 ELAPSED_TIME           1.805629
 AIR_TIME               1.805629
 DISTANCE               0.000000
 WHEELS_ON              1.589822
 TAXI_IN                1.589822
 SCHEDULED_ARRIVAL      0.000000
 ARRIVAL_TIME           1.589822
 ARRIVAL_DELAY          1.805629
 DIVERTED               0.000000
 CANCELLED              0.000000
 dtype: float64, (5819079, 25))

In [31]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
dtypes: float64(11), int64(10), object(4)
memory usage: 1.1+ GB

In [0]:
 import numpy as np
 import pandas as pd
def Format_Hourmin(hours):
       if pd.isna(hours)!=True:
          if hours == 2400:
              hours = 0
          else:
                hours = "{0:04d}".format(int(hours))
                Hourmin = datetime.time(int(hours[0:2]), int(hours[2:4]))
                return Hourmin
       else:
                hours = 0

In [45]:
data2['Actual_Departure'] =data['DEPARTURE_TIME'].apply(Format_Hourmin)
data2['Actual_Departure']

0          23:54:00
1          00:02:00
2          00:18:00
3          00:15:00
4          00:24:00
             ...
5819074    23:55:00
5819075    23:55:00
5819076    23:50:00
5819077    23:53:00
5819078    00:14:00
Name: Actual_Departure, Length: 5819079, dtype: object

In [46]:
Data2_NULL = data2.isnull().sum()*100/data.shape[0]
Data2_NULL

YEAR                   0.000000
MONTH                  0.000000
DAY                    0.000000
DAY_OF_WEEK            0.000000
AIRLINE                0.000000
FLIGHT_NUMBER          0.000000
TAIL_NUMBER            0.252978
ORIGIN_AIRPORT         0.000000
DESTINATION_AIRPORT    0.000000
SCHEDULED_DEPARTURE    0.000000
DEPARTURE_TIME         1.480526
DEPARTURE_DELAY        1.480526
TAXI_OUT               1.530259
WHEELS_OFF             1.530259
SCHEDULED_TIME         0.000103
ELAPSED_TIME           1.805629
AIR_TIME               1.805629
DISTANCE               0.000000
WHEELS_ON              1.589822
TAXI_IN                1.589822
SCHEDULED_ARRIVAL      0.000000
ARRIVAL_TIME           1.589822
ARRIVAL_DELAY          1.805629
DIVERTED               0.000000
CANCELLED              0.000000
Actual_Departure       1.489342
dtype: float64

In [48]:
data2.describe

<bound method NDFrame.describe of          YEAR  MONTH  DAY  ...  DIVERTED CANCELLED  Actual_Departure
0        2015      1    1  ...         0         0          23:54:00
1        2015      1    1  ...         0         0          00:02:00
2        2015      1    1  ...         0         0          00:18:00
3        2015      1    1  ...         0         0          00:15:00
4        2015      1    1  ...         0         0          00:24:00
...       ...    ...  ...  ...       ...       ...               ...
5819074  2015     12   31  ...         0         0          23:55:00
5819075  2015     12   31  ...         0         0          23:55:00
5819076  2015     12   31  ...         0         0          23:50:00
5819077  2015     12   31  ...         0         0          23:53:00
5819078  2015     12   31  ...         0         0          00:14:00

[5819079 rows x 26 columns]>

In [49]:
data2['Date'] = pd.to_datetime(data2[['YEAR','MONTH','DAY']])
data2.Date

0         2015-01-01
1         2015-01-01
2         2015-01-01
3         2015-01-01
4         2015-01-01
             ...
5819074   2015-12-31
5819075   2015-12-31
5819076   2015-12-31
5819077   2015-12-31
5819078   2015-12-31
Name: Date, Length: 5819079, dtype: datetime64[ns]

In [0]:

data2['Day'] = data2['Date'].dt.day_name()

In [54]:
data2.head()

   YEAR  MONTH  DAY  ...  Scheduled_Arrival Scheduled_Departure  Actual_Arrival
0  2015      1    1  ...           04:30:00            00:05:00        04:08:00
1  2015      1    1  ...           07:50:00            00:10:00        07:41:00
2  2015      1    1  ...           08:06:00            00:20:00        08:11:00
3  2015      1    1  ...           08:05:00            00:20:00        07:56:00
4  2015      1    1  ...           03:20:00            00:25:00        02:59:00

[5 rows x 31 columns]

In [0]:
data2['Actual_Departure'] =data['DEPARTURE_TIME'].apply(Format_Hourmin)
data2['Scheduled_Arrival'] =data['SCHEDULED_ARRIVAL'].apply(Format_Hourmin)
data2['Scheduled_Departure'] =data['SCHEDULED_DEPARTURE'].apply(Format_Hourmin)
data2['Actual_Arrival'] =data['ARRIVAL_TIME'].apply(Format_Hourmin)

In [56]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  Actual_Departure     object
 26  Date                 datetime64[ns]
 27  Day                  object
 28  Scheduled_Arrival    object
 29  Scheduled_Departure  object
 30  Actual_Arrival       object
dtypes: datetime64[ns](1), float64(11), int64(10), object(9)
memory usage: 1.3+ GB

In [0]:
data2 = data2.merge(airlines, left_on='AIRLINE', right_on='IATA_CODE', how='inner')

In [60]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5819079 entries, 0 to 5819078
Data columns (total 33 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE_x            object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  Actual_Departure     object
 26  Date                 datetime64[ns]
 27  Day                  object
 28  Scheduled_Arrival    object
 29  Scheduled_Departure  object
 30  Actual_Arrival       object
 31  IATA_CODE            object
 32  AIRLINE_y            object
dtypes: datetime64[ns](1), float64(11), int64(10), object(11)
memory usage: 1.5+ GB

In [61]:
data2.head()

   YEAR  MONTH  DAY  ...  Actual_Arrival IATA_CODE             AIRLINE_y
0  2015      1    1  ...        04:08:00        AS  Alaska Airlines Inc.
1  2015      1    1  ...        02:59:00        AS  Alaska Airlines Inc.
2  2015      1    1  ...        04:55:00        AS  Alaska Airlines Inc.
3  2015      1    1  ...        05:07:00        AS  Alaska Airlines Inc.
4  2015      1    1  ...        05:45:00        AS  Alaska Airlines Inc.

[5 rows x 33 columns]

In [0]:
data2 = data2.drop(['AIRLINE_x','IATA_CODE'], axis=1)

In [0]:
data2 = data2.rename(columns={"AIRLINE_y":"AIRLINE"})

In [0]:
data2 = data2.merge(airport, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='inner')
data2 = data2.merge(airport, left_on='DESTINATION_AIRPORT', right_on='IATA_CODE', how='inner')

In [65]:
data2.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'TAIL_NUMBER',
       'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'Actual_Departure', 'Date', 'Day',
       'Scheduled_Arrival', 'Scheduled_Departure', 'Actual_Arrival', 'AIRLINE',
       'IATA_CODE_x', 'AIRPORT_x', 'CITY_x', 'STATE_x', 'COUNTRY_x',
       'LATITUDE_x', 'LONGITUDE_x', 'IATA_CODE_y', 'AIRPORT_y', 'CITY_y',
       'STATE_y', 'COUNTRY_y', 'LATITUDE_y', 'LONGITUDE_y'],
      dtype='object')

In [0]:
data2 = data2.drop(['LATITUDE_x', 'LONGITUDE_x',
       'STATE_y', 'COUNTRY_y', 'LATITUDE_y', 'LONGITUDE_y','STATE_x', 'COUNTRY_x'], axis=1)

In [67]:
data2.shape

(5332914, 37)

In [0]:
data2 = data2.rename(columns={'IATA_CODE_x':'Org_Airport_Code','AIRPORT_x':'Org_Airport_Name','CITY_x':'Origin_city',
                             'IATA_CODE_y':'Dest_Airport_Code','AIRPORT_y':'Dest_Airport_Name','CITY_y':'Destination_city'})

In [70]:
data2.shape

(5332914, 37)

In [0]:
ReqdData = pd.DataFrame(data2[['AIRLINE','Org_Airport_Name','Origin_city',
                               'Dest_Airport_Name','Destination_city','ORIGIN_AIRPORT',
                               'DESTINATION_AIRPORT','DISTANCE','Actual_Departure','Date','Day',
                               'Scheduled_Departure','DEPARTURE_DELAY','Actual_Arrival','Scheduled_Arrival','ARRIVAL_DELAY',
                              'SCHEDULED_TIME','ELAPSED_TIME','AIR_TIME','TAXI_IN','TAXI_OUT','DIVERTED',]])

In [75]:
ReqdData.info()
ReqdData_NULL = ReqdData.isnull().sum()*100/data.shape[0]
ReqdData_NULL,ReqdData.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332914 entries, 0 to 5332913
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   AIRLINE              object
 1   Org_Airport_Name     object
 2   Origin_city          object
 3   Dest_Airport_Name    object
 4   Destination_city     object
 5   ORIGIN_AIRPORT       object
 6   DESTINATION_AIRPORT  object
 7   DISTANCE             int64
 8   Actual_Departure     object
 9   Date                 datetime64[ns]
 10  Day                  object
 11  Scheduled_Departure  object
 12  DEPARTURE_DELAY      float64
 13  Actual_Arrival       object
 14  Scheduled_Arrival    object
 15  ARRIVAL_DELAY        float64
 16  SCHEDULED_TIME       float64
 17  ELAPSED_TIME         float64
 18  AIR_TIME             float64
 19  TAXI_IN              float64
 20  TAXI_OUT             float64
 21  DIVERTED             int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(12)
memory usage: 935.8+ MB

(AIRLINE                0.000000
 Org_Airport_Name       0.000000
 Origin_city            0.000000
 Dest_Airport_Name      0.000000
 Destination_city       0.000000
 ORIGIN_AIRPORT         0.000000
 DESTINATION_AIRPORT    0.000000
 DISTANCE               0.000000
 Actual_Departure       1.448494
 Date                   0.000000
 Day                    0.000000
 Scheduled_Departure    0.000000
 DEPARTURE_DELAY        1.440331
 Actual_Arrival         1.585113
 Scheduled_Arrival      0.000034
 ARRIVAL_DELAY          1.749143
 SCHEDULED_TIME         0.000103
 ELAPSED_TIME           1.749143
 AIR_TIME               1.749143
 TAXI_IN                1.545640
 TAXI_OUT               1.488414
 DIVERTED               0.000000
 dtype: float64, (5332914, 22))

In [73]:
ReqdData.head()

                AIRLINE  ... DIVERTED
0  Alaska Airlines Inc.  ...        0
1  Alaska Airlines Inc.  ...        0
2  Alaska Airlines Inc.  ...        0
3  Alaska Airlines Inc.  ...        0
4  Alaska Airlines Inc.  ...        0

[5 rows x 22 columns]

In [0]:
Flights = ReqdData

In [77]:
Flights.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332914 entries, 0 to 5332913
Data columns (total 22 columns):
 #   Column               Dtype
---  ------               -----
 0   AIRLINE              object
 1   Org_Airport_Name     object
 2   Origin_city          object
 3   Dest_Airport_Name    object
 4   Destination_city     object
 5   ORIGIN_AIRPORT       object
 6   DESTINATION_AIRPORT  object
 7   DISTANCE             int64
 8   Actual_Departure     object
 9   Date                 datetime64[ns]
 10  Day                  object
 11  Scheduled_Departure  object
 12  DEPARTURE_DELAY      float64
 13  Actual_Arrival       object
 14  Scheduled_Arrival    object
 15  ARRIVAL_DELAY        float64
 16  SCHEDULED_TIME       float64
 17  ELAPSED_TIME         float64
 18  AIR_TIME             float64
 19  TAXI_IN              float64
 20  TAXI_OUT             float64
 21  DIVERTED             int64
dtypes: datetime64[ns](1), float64(7), int64(2), object(12)
memory usage: 935.8+ MB

In [78]:
from google.colab import drive
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [0]:
Flights.to_csv('Flights.csv')
!cp Flights.csv "drive/My Drive/"

In [83]:
import gdown 
url = 'https://drive.google.com/uc?id=1ABxZ22ZGrkVMvRe1UsnqwyabDHJ0kzTs' 
output = 'Flights.csv' 
gdown.download(url, output, quiet=False)

Permission denied: https://drive.google.com/uc?id=1ABxZ22ZGrkVMvRe1UsnqwyabDHJ0kzTs
Maybe you need to change permission over 'Anyone with the link'?